services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    container_name: pong-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - pongnet

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pong-backend
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - pongnet
    command: sh -c "npx prisma db push && node app.js"

  db:
    image: mysql:8.3
    container_name: pong-mysql
    restart: unless-stopped
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - pongnet

  caddy:
    image: caddy:latest
    container_name: pong-caddy
    ports:
      - "80:80"
      - "443:443"
    networks:
      - pongnet
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - frontend

networks:
  pongnet:
    driver: bridge

volumes:
  db_data:
  caddy_data:
  caddy_config:
